api/vendor/
api/**/*.log
api/**/*.sqlite
api/.idea/
api/bin/
api/tmp/
api/node_modules/
api/.sass-cache/
api/public/assets/
api/.vscode/
api/.grifter/
api/.env
api/**/.DS_Store
api/*.pid
api/coverage
api/coverage.data
api/.svn
api/.console_history
api/.sass-cache/*
api/.jhw-cache/
api/jhw.*
api/*.sublime*
api/dist/
api/generated/
api/.vendor/
api/.pnp.*
api/.yarn/*
api/!.yarn/patches
api/!.yarn/plugins
api/!.yarn/releases
api/!.yarn/sdks
api/!.yarn/versions


web/node_modules
web/dist